<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img id="nav-logo" src="/img/logo.png" alt="logo">
    </a>
    <a class="navbar-brand" href="/ask">
        Ask
    </a>
</nav>